@font-face {
    font-family: 'Lato'; 
    src: url(./assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato-Bold'; 
    src: url(./assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: 'Lato-Black'; 
    src: url(./assets/fonts/Lato-Black.ttf);
}



* {
    max-width: 1020px;
}

header.header {
    height: 95px;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    background-color: #2d303a;
    color: #f2f2f2;
    font-family: Lato-Bold;
    font-size: 25px;
}

div.singolo-label{
    display: flex;
    padding-right: 30px;
}

div.singolo-label h1{
    margin-left: 36px;
    margin-bottom: 5px;
}

div.singolo-label p {
    color: #f06c64;
}

ul.menu-top{
    display: flex;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 5px;
}

li {
    list-style-type: none;
    text-transform: uppercase;

}

a.menu-a {
    text-decoration: none;
    color: #f2f2f2;
    margin-right: 29px;
}

a.menu-a:hover {
    color: #f06c64;
}

div.slider{
    height: 600px;
    display: flex;
    background-color: #f06c64;
    flex-wrap: wrap;

}

div.iPhone {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}



div.services{
    height: 493px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding-top: 68px;
    padding-left: 40px;

}

div.before-table p:first-child {
    color: #666d89;
    font-family: Lato-Black;
    font-size: 30px;
    font-weight: 400;
    line-height: 17.86px;
}

div.before-table p:nth-child(2) {
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding-top: 27px;
}

table.table-services {
    margin-top: 48px;
    display: flex;
}

td.img-words {
    vertical-align: top;
    
}

td.img-words p:first-child {
    color: #666d89;
    font-family: Lato-Black;
    font-size: 18px;
    font-weight: 400;
    line-height: 17.86px;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 21px;
}

td.img-words p:nth-child(2) {
    color: #767e9e;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    padding-bottom: 35px;
    width: 220px;
    padding-left: 20px;
    padding-top: 8px;
    padding-right: 21px;
}

div.portfolio {
    height: 868px;
    background-color: #2d303a;

}



div.line {
    height: 6px;
    background-color: #323746;
}

div.about-us {
    height: 728px;
    background-color: #f2f2f2;
}
